body{
    background-color: gray;
}
span{
    color: blueviolet;
}
.paragraph-1{
background: blue;
font-size: 32pt;
color: green;
}
.paragraph-2{
    border: 10px;
    border-radius: 100px;
    font-size: 24pt;
    padding: 100px 100px 100px 100px;
}
.paragraph-3{
    color: rgb(180, 22, 22);
}
.paragraph-4{
    font-size: 24px;
    text-align: center;
    font-style: italic;
    color: green;
    text-shadow: 1px 1px green;
    }